@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../fonts/JuliusSansOne-Regular.ttf);
}
@font-face {
  font-family: font2;
  src: url(../public/fonts/Datatype-VariableFont_wdth\,wght.ttf);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #262747;
}
